* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /*background-color: red;*/
    font-family: 'Montserrat', sans-serif;
    text-align: left;

    /*put google fonts in index*/
}

/* Responsive na si Image*/
.landing-image {
    background-image: url("../images/landing-photo-13.png");
    /*background-color: #cccccc;*/
    height: 1020px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/********************Navigation Section **********************/
.navigation-bar {
    width: 100%;
    /* i'm assuming full width */
    height: 80px;
    /* change it to desired width */
    background-color: red;
    /* change to desired color */
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 92px;
    /*margin-right: 20px;
    margin-top: 15px;     if you want it vertically middle of the navbar. */
}

.navigation-bar>a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    /* if you want it to take the full height of the bar */
    line-height: 80px;
    /* if you want it vertically middle of the navbar */
}

.navbar {
    font-size: 1.2rem;
    /*padding-right:100px;*/
}

a {
    margin-left: 50px;
}

/********************Landing Section **********************/

.landing-text h1 {
    margin-top: 100px;
    font-size: 10rem;
    color: white;
    font-family: 'Shippori Mincho B1', serif;

}

.landing-text h3 {
    color: white;
}

.landing-text p {
    color: white;
}

.accounts {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}



.btn-proj {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 1.3rem;
}


/********************About Me Section **********************/
.about-box {

    padding: 2%;
    margin: 10px;
    /*border: 1px solid;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.icon {
    color: black;
    margin-bottom: 1rem;
}

.icon:hover {
    color: lightgrey;
}

#about-me {

    margin-top: 50px;
    margin-bottom: 50px;
}

.about-me-section h1 {
    text-align: center;
}


/*************Separator*************/
.separator{
    background-image: url("../images/separator.jpg");
    
    height: 400px;
    margin: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*.overlay-container{
    position:relative;
    width:100%;
    height:20%;
    display:inline-block;
}
.box1-image{
    
    display:block;
    width:100%;
    height:200px;
}
.overlay{
    position:absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color:pink;
}
.overlay-container:hover .overlay{
    opacity: 3;
}
.text{
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:20px;
}
.overlayFade{
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color:yellow;
}
.overlay-container:hover .overlayLeft{
    width:100%;
}*/

/********************Project Section  **********************/


.box2 {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border:none;

}
.overlay-container{
    position:relative;
    /*width:200px;
    height:200px;*/
    display:inline-block;
}
.box1-image{
    /*background-color:blue;*/
    display:block;
    width:100%;
    /*width:200px;
    height:200px;*/
}
.overlay{
    position:absolute;
    transition: all .3s ease;
    opacity: 0;
    
}
.overlay-container:hover .overlay{
    opacity: 1;
}
.text{
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:20px;
}

.overlayLeft{
    height:100%;
    width:0;
    top:0;
    left:0;
    background-color:lightgrey;
    opacity: 0.5;
}
.overlay-container:hover .overlay{
    width:100%;
}

.project-section {
    text-align: center;
}

.card {
    background-color: black;
    width: 30rem;
    border:none;
}

.container-2 div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.container-2-box {
    flex-basis: 30%;
    text-align: center;

}
.card-text{
    color:white;
}



@media (min-width: 768px) {
    .container-2 {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

}

.container-3 div {
    /*border: 1px #ccc solid;*/
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-3-box {
    margin-top: 25px;
    flex-basis: 30%;
    text-align: center;

}

@media (min-width: 768px) {
    .container-3 {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

}
/*******Separator two****************/
.separator-two{

    background-image: url("../images/separator-two.jpg");
    /*background-color: #cccccc;*/
    height: 400px;
    margin: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/********************Contact Section Dont forget to change the class name **********************/
#contact-section {
    background-image: url("../images/contact-page-14.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*background-color: lightgrey;*/
}
    /*background-color: #939393;*/

/*#contact {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}*/
#contact-section .container .well h3{
    padding-top: 30px;
    color:white;
}
#contact-section .container .well h3, h4{
    color:white;
}

#contact .well {
    margin-top: 30px;
    border-radius: 0;
}

#contact .form-control {
    border-radius: 0;
    border: 2px solid #1e1e1e;
}

#contact button {
    border-radius: 0;
    border: 2px solid #1e1e1e;
}

#contact .row {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    #contact iframe {
        margin-bottom: 15px;
    }

}






/********************Footer Section******************/
#footer {
    background-color: black;
    height:100px;
}

#footer p.desc {
    color: white;
}

.social-icon {
    color: white;

}


@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}




/***************Media Queries**************/

/*phone*/
@media screen and (max-width: 767px) {
    .logo {
        display: none;
    }

    .landing-text h1 {
        font-size: 6rem;
        margin-top: 50px;
    }

    .landing-text h3 {
        font-size: 1.2rem;
    }

    .landing-text p {
        font-size: 0.8rem;

    }

    #about-me {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    /*Separator and two*/
    .separator{
        margin:0;
        margin-top:50px;
        margin-bottom:50px;
        height: 200px
    }
    .separator-two{
        margin:0;
        margin-top:50px;
        margin-bottom:50px;
        height: 200px
    }
    /*Projects Section*/

    .card {
        width: 18rem;
    }

    .container-2-box {
        margin-top: 25px;
    }

    /*contact section*/



}

/*ipad*/
@media screen and (min-width: 768px) and (max-width:1020px) {
    .logo {
        display: none;
    }

    #about-me {
        margin-top: 17%;
        margin-bottom: 12%
    }

    /*Projects Section*/

    .card {
        width: 18rem;
    }
    /*Separator and two*/
    .separator{
        margin:0;
        margin-top:50px;
        margin-bottom:50px;
        height: 200px
    }
    .separator-two{
        margin:0;
        margin-top:50px;
        margin-bottom:50px;
        height: 200px
    }


}
/*******************Animations******************/
/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}